
<%- include("partials/header"); -%>


<%foundProducts.forEach(function(foundProducts){%>

    
    <div id="postContainer" class="delete">
        ProductName -><label class="authorPostCss"><%=foundProducts.name%></label><br>
        SellerId   -><label class="authorPostCss"><%=foundProducts.sellerId%></label><br>
        SellerName   -><label class="authorPostCss"><%=foundProducts.sellerName%></label><br>
        ProductId   -><label class="authorPostCss"><%=foundProducts.productId%></label><br>
        Weight-><label class="authorPostCss"><%=foundProducts.weight%></label><br>
        Height-><label class="authorPostCss"><%=foundProducts.height%></label><br>
        QuantityOfKnives-><label class="authorPostCss"><%=foundProducts.quantityOfKnives%></label><br>
        Age-><label class="authorPostCss"><%=foundProducts.age%></label><br>
        <hr>
    </div>

<% }); %>


<%- include("partials/footer"); -%>